.moviesPage {
    padding: 20px;
}

.movieList {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movieItem {
    margin: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;
    width: 150px;
    text-align: center;
}

.movieItem img {
    width: 100%;
    height: auto;
}

.movieItem p {
    margin-top: 10px;
    font-size: 14px;
    color: #333;
}